<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <%=image_tag @movie.image.url(:medium)%>
      </div>
      <div class="col-md-8">
        <table class="table">
          <thead>
            <tr>
              <th>Title:</th>
              <th>Description:</th>
              <th>Length:</th>
              <th>Director:</th>
              <th>Rating:</th>
            </tr>
          </thead>
          <tbody>
            <tr>
            <td>  <%= @movie.title %></td>
            <td>  <%= @movie.description %></td>
            <td>  <%= @movie.length %> </td>
            <td>  <%= @movie.director %></td>
            <td>  <%= @movie.rating %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
