<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <%=image_tag @movie.image.url(:medium)%>
      </div>
      <div class="col-md-8">
        <table class="table">
          <thead>
            <tr>
              <th>Title:</th>
              <th>Description:</th>
              <th>Length:</th>
              <th>Director:</th>
              <th>Rating:</th>
            </tr>
          </thead>
          <tbody>
            <tr>
            <td>  <%= @movie.title %></td>
            <td>  <%= @movie.description %></td>
            <td>  <%= @movie.length %> </td>
            <td>  <%= @movie.director %></td>
            <td>  <%= @movie.rating %></td>
            </tr>
          </tbody>
        </table>
        <%=link_to "Write a review",new_movie_review_path(@movie)%>


        <div class="col-md-7 col-md-offset-1">
          <h1 class="review_title"><%= @movie.title %></h1>
            <p><%= @movie.description %></p>

            <% if @reviews.blank? %>
            <h3>No reviews just yet, would you like to add the first!</h3>
          <%= link_to "Write Review", new_movie_review_path(@movie), class: "btn btn-danger" %>
        <% else %>
          <% @reviews.each do |review| %>
            <div class="reviews">
              <div class="star-rating" data-score= <%= review.rating %> ></div>
              <p><%= review.comment %></p>
              <p><%= review.rating %></p>
            </div>
          <% end %>
        <% end %>
      </div>

      </div>
    </div>
  </div>
<%=link_to "Edit" ,edit_movie_path(@movie)%>
<%=link_to "Back" ,movies_path%>
