<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class= "navbar-header">
      <button type="button" class= "navbar-toggel collasped" data-toggle="collaspe"data-target"#bs-example-navbar-collaspe-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"</span>
        <span class="icon-bar"</span>
        <span class="icon-bar"</span>
      </button>
    <%=link_to "Movie Reviews",root_path, class:"navbar-brand"%>
</div>
<div class="collapse navbar-collaspe" id="bs-example-navbar-collaspe-1">
  <ul class="nav navbar-nav">
    <%if user_signed_in?%>
    <li><%=link_to "New Movies"new_movie_path,class:"active"%><li>
    <li><%=link_to "Account"edit_user_registration_path%><li>
      <%else%>
    <li><%=link_to "Sign Up"new_user_registration_path,class:"active"%><li>
    <li><%=link_to "SignIn"new_user_session_path,class:"active"%><li>
      <%end%>
    </ul>
    <form class ="navbar-form navbar-left" role="Serch">
      <div class="form-group">
        <input type="text" class="form-controll" placeholder="Search">
      </div>
      <buton type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</nav>
